* {
    margin-top: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;

}

body {
    width: 100%;
    min-height: 100vh;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    padding: 10px;

}

.border {
    border: 2px solid red;
}


.To-Do-App {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 150px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 50px;
    box-shadow: 0 0 30px #afafaf;
}

h2 svg {
    width: 40px;
    position: absolute;
    right: 0;

}

h2 {
    color: #002765;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;
    margin-bottom: 50px;
    position: relative;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 3px groove black;
    outline-offset: 5px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #5d5d5d;


}

input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    background: transparent;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px;

}

input::placeholder {
    color: #1e008d;

}


button {
    border: none;
    outline: none;
    padding: 16px 30px;
    background: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 30px;
    margin: 1px;

}

ul li {
    list-style: none;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
    user-select: none;
    margin-block: 10px;

}


ul li::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='19' height='19' fill='currentColor'%3E%3Cpath d='M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    position: centre;
    top: 7px ;
    left: 8px;

}

ul li.checked{
    background: #1e008d;
    border-radius: 50px;
    color: white;

}

ul li.checked::before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='18' height='18' color='white' fill='currentColor'%3E%3Cpath d='M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11.0026 16L6.75999 11.7574L8.17421 10.3431L11.0026 13.1716L16.6595 7.51472L18.0737 8.92893L11.0026 16Z'%3E%3C/path%3E%3C/svg%3E");

    
}


ul li span{
    position: absolute;
    top: 10px;
    right: 0px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    font-weight: 500;
    color: black;
    text-align: center;
    border-radius: 50%;
}


ul li span:hover{
    background: black;
    color: white;

}


ul li.checked span{
    color: white;
}

ul li.checked span:hover{
    color: black;
    background: white;
}

